@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
  margin-top: 0;
  background-color: black;
  /* background-image: url("bg.svg"); */
}

.name-section {
  color: #4361ee;
  margin-left: 2rem;
  font-family: "Pacifico", cursive;
  letter-spacing: 1rem;
  font-size: 2rem;
}

.main-content {
  justify-content: center;
  align-self: center;
  background-image: url("Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 90vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.intro-section {
  width: 40%;
  margin-left: 2rem;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-family: "Roboto Serif", serif;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h3 {
  text-align: center;
  padding: 0;
  margin: 0;
}
